<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}

    <!-- HEADER IMAGE -->
    <!-- <center>
        <span class="main-header-image">
            <a href="/"><img src="/images/header/clean-and-simple-header.jpg"></a>
        </span>
    </center> -->
    <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-weight:100; font-kerning:normal"><a href="/">{{ site.title }}</a></h1>
        </span>
    </center>

    <!-- NAVIGATION -->
    <br>
    {% include navigation.html %}
</head>

<!-- BODY -->
<body id="post-index">
    {% include browser-upgrade.html %}

    <div id="main" role="main">
        <article class="hentry">

            <div class="featured-image">
            <img src="{{ page.featured-image}}" style="width:100%">
            </div>

            <!-- MAIN -->
            <h1 class="entry-title">
                <a>{{ page.title }}</a>
            </h1>
            <h3 class="entry-subtitle">
                <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ page.subtitle }}</a>
            </h3>

            <hr>

            <!-- POST CONTENT -->
            <div class="entry-content">
                {{ page.content }}
            </div>

            <!--- DIVIDING LINE -->
            <hr>

            <!-- POST TAGS -->
            <div class="inline-tags">
                <span>
                    {% for tag in page.tags %}
                        <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                    {% endfor %}
                </span>
            </div>

            <br>

            <!-- POST DATE -->
            <div class="post-date">
                {{ page.date-string }}
            </div>
        </article>
		# 수정
		
    </div>
	{% if page.comments %}
	<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://cainstorm-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	{% endif %}
	<script id="dsq-count-scr" src="//cainstorm-github-io.disqus.com/count.js" async></script>
</body>
# /수정
<!-- FOOTER -->
<footer>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>
</footer>
</html>
